
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
}

<h1>Witamy w panelu administracyjnym</h1>
<div class="lds-ring" id="loader"><div></div><div></div><div></div><div></div></div>
<div class="custom-grid" >
    
    <div class="custom-card d-none" style="background-color:#3DBF50">
        <div class="custom-card-info ">
            <p id="latest_test">Ostatni test: </p>
        </div>
    </div>
        <div class="custom-card d-none" style="background-color:#3DBF50">
            <div class="custom-card-info">
                <p id="latest_patient">Ostatni przebadany pacjent: </p>
            </div>
        </div>
        <div class="custom-card d-none" style="background-color:#3DBF50">
            <div class="custom-card-info">
                <p id="number-tests">Ilość wykonanych testów w tym miesiącu: </p>
            </div>
        </div>
</div>


        <script>
            let latestpatient = document.getElementById('latest_patient');
            let latesttest = document.getElementById('latest_test');
            let numberOfTests = document.getElementById('number-tests');
            let infoCards = document.getElementsByClassName('custom-card');
            let spinners = document.getElementById('loader');
            const loadData = async () => {
                let testPatient;
                let lastTest;
                let countTest;
                //await $.get('api/AdminAPI/user', function (data) {
                //    aktywnosc = data.date.split('T');
                //});
                await $.get('api/AdminAPI/test', function (data) {
                    testPatient = data.idPatient;
                    lastTest = data.dateOfTest.split('T');
                    console.log(testPatient)
                    console.log(lastTest)
                    console.log(data)

                });
                await $.get('api/AdminAPI/tests/30', function (data) {
                    countTest = data;
                });
                for (let item of infoCards) {
                    item.classList.toggle('d-none');
                }
                spinners.style.display = "none";
                //latesttest.innerHTML += lastTest;
                let p1 = document.createElement("P");
                let p2 = document.createElement("P");
                let p3 = document.createElement("P");
                p1.classList.toggle('card-title');
                p2.classList.toggle('card-title');
                p3.classList.toggle('card-title');
                p1.innerHTML = countTest;
                numberOfTests.after(p1);
                p2.innerHTML = testPatient;
                latestpatient.after(p2);
                p3.innerHTML = lastTest[0];
                latesttest.after(p3);
            }
            loadData();
        </script>

