
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
}

<h1>Witamy w panelu administracyjnym</h1>
<div id="loader-div" class="loader-div"><div class="lds-ring" id="loader"><div></div><div></div><div></div><div></div></div></div>
<div class="custom-grid" >
    
    <div class="custom-card-index d-none" >
        <div class="custom-card-info-index ">
            <p id="latest_test">Ostatni test: </p>
        </div>
    </div>
        <div class="custom-card-index d-none" >
            <div class="custom-card-info-index">
                <p id="latest_patient">Ostatni przebadany pacjent: </p>
            </div>
        </div>
        <div class="custom-card-index d-none" >
            <div class="custom-card-info-index">
                <p id="number-tests">Ilość wykonanych testów w tym miesiącu: </p>
            </div>
        </div>
</div>
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>


        <script>
            let latestpatient = document.getElementById('latest_patient');
            let latesttest = document.getElementById('latest_test');
            let numberOfTests = document.getElementById('number-tests');
            let infoCards = document.getElementsByClassName('custom-card-index');
            let spinners = document.getElementById('loader-div');
            let myChart = document.getElementById('myChart').getContext('2d');
            const loadData = async () => {
                let testPatient;
                let lastTest;
                let countTest;
                //await $.get('api/AdminAPI/user', function (data) {
                //    aktywnosc = data.date.split('T');
                //});
                await $.get('api/AdminAPI/test', function (data) {
                    testPatient = data.idPatient;
                    lastTest = data.dateOfTest.split('T');                  

                });
                await $.get('api/AdminAPI/tests/30', function (data) {
                    countTest = data;
                });
                for (let item of infoCards) {
                    item.classList.toggle('d-none');
                }
                spinners.style.display = "none";
                //latesttest.innerHTML += lastTest;
                let p1 = document.createElement("P");
                let p2 = document.createElement("P");
                let p3 = document.createElement("P");
                p1.classList.toggle('card-title');
                p2.classList.toggle('card-title');
                p3.classList.toggle('card-title');
                p1.innerHTML = countTest;
                numberOfTests.after(p1);
                p2.innerHTML = testPatient;
                latestpatient.after(p2);
                p3.innerHTML = lastTest[0];
                latesttest.after(p3);
            }
            
            const loadGraphData = async () => {
                let tests=[];
                let graphSet=[0,0,0,0,0,0,0,0,0,0,0,0];
                
                await fetch('/api/AdminAPI/periodTests/12')
                    .then(response => { return response.json() })
                    .then(data => {
                        tests = data;
                    })
                tests.forEach(test => {
                    test.dateOfTest = cutzeros(test.dateOfTest);
                    graphSet[test.dateOfTest]++;
                })
                console.log(graphSet);
                return graphSet;
            }
            const initChart = async () => {
                let graphData = await loadGraphData();
               
                let chart = new Chart(myChart, {
                    type: 'bar',
                    data: {
                        labels: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                        datasets: [{
                            label: 'Testy',
                            data: graphData
                        }]
                    },
                    options: {}
                })
            }
            loadData();
            initChart();
            function cutzeros(value) {
                if (value[5] === '0') return value[6];
                return value.slice(5,7);
            }
        </script>

