
@{
    ViewData["Title"] = "Logi";
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
}

<h1>Logi</h1>
<label for="log-select">Logi z ostatniego:</label>
<select id="log-select">
    <option value="1">24 godziny</option>
    <option value="7">Tydzień</option>
    <option value="30">Miesiąc</option>
    <option value="999">Wszystkie</option>
</select>
<button id="logsGet" class="custom-button">Wybierz</button>
<table id="logs-table"
       data-search="true"
       data-pagination="true"
       data-height="700"
       data-show-export="true"
       >
    <thead>
        <tr>
            <th data-field="logID">ID Log</th>
            <th data-field="userID" data-sortable="true" >ID Usera</th>
            <th data-field="formID" >ID Formularza</th>
            <th data-field="fieldID">ID Pola</th>
            <th data-field="date" data-sortable="true" >Data</th>
            <th data-field="answerValue">Odpowiedź</th>
        </tr>
    </thead>
</table>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="~/js/bootstrap-table.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/FileSaver.min.js"></script>
<script type="text/javascript" src="~/js/xlsx.core.min.js"></script>
<script type="text/javascript" src="~/js/tableExport.min.js"></script>
<script src="~/js/bootstrap-table-export.js"></script>
<script>
    let $table = $('#logs-table');
    let logsGetButton = document.getElementById('logsGet');
    const selectLog = document.getElementById('log-select');
    logsGetButton.addEventListener('click', () => {
        let logs = [];
        console.log(selectLog.value)
        getLogs();
        
    });
    function initTable(logs= []) {
        $table.bootstrapTable('destroy').bootstrapTable({ data: logs })
        let input = document.querySelector('.form-control')
        input.classList.remove('form-control')
        input.classList.toggle('input-custom')
        input.setAttribute('id', 'szukaj');
        input.style.width = '100%';
        input.placeholder = 'Szukaj'; 
        
        console.log(input);
    }
    const getLogs = async () => {
        await fetch('/api/AdminAPI/logs/' + selectLog.value)
        .then((response) => {
            return response.json();
        }).then((data) => {
            logs = data;
        });
        logs.forEach(formatData);
        JSON.stringify(logs)
        initTable(logs);
    }
    const formatData = (element) => {
        let data = element.date.split('T');     
        element.date = data[0] + " "+ data[1].substring(0, 8);
    }
</script>


