@page
@model TeamProject.Areas.Identity.Pages.Account.Manage.ManageUserDataModel
@{
    ViewData["Title"] = "Zarządaj Danymi Użytkownika";
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
}
<div class="row form-center">
    <div class="col-md-8 col-lg-5 form-design">
        <i class="fas fa-user-edit fa-3x"></i>
        <h2 class="custom-header">Edytuj Użytkownika</h2>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form__group">
                <input asp-for="Username" class="input-custom" disabled id="username" placeholder="Nazwa Użytkownika"/>
                <label for="username" class="form__label">Nazwa użytkownika</label>
            </div>
            <div class="form__group">

                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="input-custom" id="email" placeholder="E-Mail" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="input-custom" id="email" placeholder="E-Mail" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="custom-button">Wyślij email weryfikacyjny</button>
                }
                <label for="email" class="form__label">E-Mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form__group">
                <select asp-for="Input.Role" class="select-custom" id="role">
                    <option>Admin</option>
                    <option>Technik</option>
                </select>
                <label for="role" class="form__label">Typ użytkownika</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <div class="form__group">

                <input asp-for="Input.PhoneNumber" class="input-custom" id="telefon" placeholder="Numer Telefonu" />
                <label for="telefon" class="form__label">Numer Telefonu</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form__group">

                <input asp-for="Input.FirstName" class="input-custom" placeholder="Imię" id="imie"/>
                <label for="imie" class="form__label">Imię</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.LastName" class="input-custom" placeholder="Nazwisko" id="lastname"/>
                <label for="lastname" class="form__label">Nazwisko</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form__group">
                <input asp-for="Input.UserID" class="input-custom" placeholder="ID Technika" id="userid"/>
                <label class="form__label" for="userid">ID Technika</label>
                <span asp-validation-for="Input.UserID" class="text-danger"></span>
            </div>
            <div class="form__group" hidden>
                <input asp-for="Input.ID" class="input-custom" hidden />
                <span asp-validation-for="Input.UserID" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="custom-button">Save</button>
        </form>
    </div>
</div>