@page
@model TeamProject.Areas.Identity.Pages.Account.Manage.NewPasswordModel
@{
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
    ViewData["Title"] = "Zmiana Hasła";
}
<div class="row form-center">
    <div class="col-md-8 col-lg-5 form-design ">
        <i class="fas fa-user-lock fa-3x"></i>
        <h2 class="custom-header">Nowe hasło</h2>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form__group">
                <input asp-for="Input.NewPassword" class="input-custom" placeholder="Nowe Hasło" id="nowehaslo" />
                <label for="nowehaslo" class="form__label">Nowe Hasło</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.ConfirmPassword" class="input-custom" id="powtorzhaslo" placeholder="Powtórz Nowe Hasło" />
                <label for="powtorzhaslo" class="form__label">Powtórz Nowe Hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.ID" class="input-custom" hidden value=@ViewData["userID"] />
                <span asp-validation-for="Input.ID" class="text-danger"></span>
            </div>
            <button type="submit" class="custom-button">Zaktualizuj hasło</button>
        </form>
    </div>
</div>