@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row shadow bg-white rounded" style="width:500px">
    <div class="col-md-6">
        <br />
        <p>
            Czy na pewno usunąć konto?
        </p>     
        <p>
            <a id="delete" style="background-color:#2c3136" asp-page="DeletePersonalData" class="btn btn-danger">Usuń Konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}