body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif !important;
}

button {
    font-size: inherit;
    font-family: inherit;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
}

.main-active {
    margin-left: 16rem !important;
}

:root {
    font-size: 16px !important;
}

.navbar-custom {
    width: 5rem;
    background-color: #3a3a47;
    height: 100vh;
    position: fixed;
    -webkit-transition: width 500ms ease;
    transition: width 500ms ease;
}

.navbar-custom-active {
    width: 16rem;
}

    .navbar-custom-active .link-text {
        display: block;
    }

.navbar-custom .logo i {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.navbar-custom-active .logo i {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

i::before {
    margin: auto;
}

.navbar-nav-custom {
    list-style: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-item-custom {
    width: 100%;
}

    .navbar-item-custom:last-child {
        margin-top: auto;
    }

.custom-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 5rem;
    color: #d9d9d9;
    text-decoration: none !important;
    text-transform: uppercase;
    -webkit-filter: grayscale(100%) opacity(0.7);
    filter: grayscale(100%) opacity(0.7);
    -webkit-transition: 200ms;
    transition: 200ms;
}

    .custom-link:hover {
        -webkit-filter: grayscale(0%) opacity(1);
        filter: grayscale(0%) opacity(1);
        background: #b75555;
        color: #f2f2f2;
    }

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo {
    cursor: pointer;
    width: 100%;
    color: #d9d9d9;
    margin-bottom: 1rem;
}

.form-center {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .form-center .fa-user-plus {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0.8rem auto;
        color: #b75555;
    }

    .form-center button {
        margin: 1.5rem auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .form-center input {
        width: 100% !important;
    }

.custom-header {
    margin: 0.5rem auto;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #3a3a47;
}

.custom-button {
    cursor: pointer;
    background-color: #b75555;
    color: #f2f2f2;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.25);
    outline: none;
    border: 0;
    margin: 0 0.5rem;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-transition: 200ms;
    transition: 200ms;
}

    .custom-button i {
        margin-left: 0.6rem;
    }

    .custom-button:hover {
        opacity: 0.8;
    }

.input-custom {
    border: 0;
    border-bottom: 2px solid gray;
    width: 40%;
    outline: 0;
    font-size: 1.2rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 200ms;
    transition: border-color 200ms;
}

    .input-custom::-webkit-input-placeholder {
        color: transparent;
    }

    .input-custom:-ms-input-placeholder {
        color: transparent;
    }

    .input-custom::-ms-input-placeholder {
        color: transparent;
    }

    .input-custom::placeholder {
        color: transparent;
    }

    .input-custom:placeholder-shown ~ .form__label {
        font-size: 1.2rem;
        cursor: text;
        top: 20px;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 200ms;
    transition: 200ms;
    font-size: 0.9rem;
    color: gray;
}

.input-custom:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #b75555;
}

    .input-custom:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        -webkit-transition: 200ms;
        transition: 200ms;
        font-size: 0.9rem;
        color: #b75555;
        font-weight: 700;
    }

.input-custom:required, .input-custom:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form-design {
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.custom-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: flex-basis;
    -ms-flex-align: flex-basis;
    align-items: flex-basis;
    margin: 1rem;
    border-radius: 3px;
    width: 30%;
    height: auto;
    background: linear-gradient(135deg, #020024 0%, #9494eb 0%, #00d4ff 100%);
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

    .custom-card p {
        justify-self: baseline;
        margin: 0.5rem;
    }

.card-icon {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .card-icon i {
        color: #f2f2f2;
    }

.custom-card-info {
    width: 60%;
    display: block;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #f2f2f2;
}

    .custom-card-info .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #f2f2f2;
    }

.custom-card-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

    .custom-card-buttons button {
        background: none;
        color: #f2f2f2;
        padding: 0.5rem;
        text-transform: uppercase;
        border: 2px solid #f2f2f2;
        border-radius: 2px;
        margin: 0.4rem 0.4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-transition: 200ms;
        transition: 200ms;
    }

        .custom-card-buttons button:hover {
            opacity: 0.8;
            border-color: #b75555;
            color: #b75555;
        }

@media (max-width: 1260px) {
    .custom-card {
        width: 33%;
    }

    .custom-card-buttons button {
        padding: 0.4rem;
        border-radius: 2px;
        margin: 0.4rem 0.4rem;
    }
}

.custom-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding: 1rem;
}

    .custom-div i {
        color: #3a3a47;
    }

    .custom-div a {
        color: #f2f2f2;
    }

        .custom-div a:hover {
            text-decoration: none;
            color: inherit;
        }

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1010;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-modal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.custom-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.closed {
    display: none;
}
/*# sourceMappingURL=site.css.map */
