/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
* {
    box-sizing: border-box;
}
#bar {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}


#site {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/* Sticky footer styles
   
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.rodzic li {
    cursor: pointer;
}
ul{
    cursor: pointer;
}
#Drzewo ul {
    cursor: pointer;
}

h3 {
    text-align: center;
    padding: 10px;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    border-color: #808080
    /*text-decoration: underline;*/
}

.rodzic {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.rodzicX {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.rodzic btn1 {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.rodzicX btn1 {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #dfdfdf;
    margin-bottom: 60px;
    font-family: 'Lobster', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.checkmark {
    height: 20px;
    width: 20px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.cities {
    background-color: #464159;
    color: white;
    margin: 20px;
    padding: 20px;
}



.btnx {
    background-color: #c7f0db;
    border: 1px solid grey;
    margin: 3px;
    font-family: sans-serif;
    font-weight: 470;
    margin-right:2px;
    border-radius: 4px
}
.btnxDrop {
    background-color: #c7f0db;
    border: 1px solid grey;
   
    font-family: sans-serif;
    font-weight: 450;
    
    border-radius: 4px
}




.rodzic btn1 {
    cursor: pointer;
}

.btnx:hover {
    background-color: #8bbabb;
}


.rodzicX btn1 {
    cursor: pointer;
}


#kategorie {
    
    float: left;
}

#formularzeKategorii {
    
    float: left;
}

#container{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    font-size:18px;

}

#buton
{
    margin:20px 0px 0px 20px;
    text-align:left;
}

header {
    background-color:#6c7b95;
}

.mainPage {
    background-color: #6c7b95;
}

.btn1 {
    cursor: pointer;
    border: none;
    box-shadow: 5px 4px 8px #888888;
    color: black;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 10px;
}

.btn {
    color: white;
    min-height: 40px;
    min-width: 30px;
}

.btn2 {
    cursor: pointer;
    border: none;
    box-shadow: 5px 4px 8px #888888;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
}

.table {
    background-color: #6c7b95;
}

    .table tbody tr:hover {
        background-color: #8bbabb;
    }

.side-table {
    background-color: #dfdfdf;
}

#wynik{
    margin-right:auto;
    margin-left:auto;

}

.mojprofil {
    background-color: #6c7b95;
}

a:link{
    text-decoration:none;
}
a:hover{
    color:white;
}

#stworzNowyFormularz {
    color: white;
}

.btnX  {
    background-color: #c34f4f;
    width: 100px;
    color: white;
    min-height: 40px;
  margin-bottom:10px;
  margin-top:1px;
}

.button_search {
    cursor: pointer;
    background-color: #b75555;
    border: none;
    box-shadow: 5px 4px 8px #888888;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
}

.custom-select-option {
    cursor: pointer;
    font-size: 12px;
    width: 40%;
    display: inline-block;
    margin-right: 10px;
    height: 45px;
    box-shadow: 5px 4px 8px #888888;
}

.custom-table th {
    border: solid;
    border-width: 0.1px;
    border-color: darkgray;
    background-color: white;
    color: black;
    text-align: center;
}

.custom-table td {
    border: solid;
    border-width: 0.1px;
    border-color: darkgrey;
    background-color: white;
    color: black;
}

.custom_patient_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
    margin-right: 10px;
    font-size: 12px;
    width: 20%;
    display: inline-block;
    height: 45px;
    box-shadow: 5px 4px 8px #888888;
    padding: 12px;
}

.custom-input-cat {
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
    height: 45px;
    box-shadow: 5px 4px 8px #888888;
    padding: 12px;
}

.custom-test-select {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    font-size: 12px;
    width: 10%;
    display: inline-block;
    height: 45px;
    box-shadow: 5px 4px 8px #888888;
}

.custom_checkbox {
    margin-top: 20px;
    height: 15px;
    width: 15px;
    color: gray;
}

.custom-label {
    font-size: 20px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.custom-label-exporter {
    font-size: 20px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.headTranslation{
    width:100%;
}

.custom-scroll {
    height: 50vh;
    width: 50%;
    overflow: auto;
    background-color: white;
    display: block;
    margin: 1rem 0;
}

.sidebar-heading {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.header-index {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.header-custom {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.9rem;
    font-family: "Impact, Charcoal, sans-serif";
    text-shadow: 3px 3px 6px grey;
}

.custom-a {
    color: black;
}