@model List<FieldWithValue>
@{
    ViewData["Title"] = "WyslanoFormularz";
}
@if (ViewBag.EdycjaFormularza == null)
{
    <h1>Wyslano Formularz</h1>
    <h3>Gratulacje, dane z formularza zostały zapisane w bazie danych</h3>
}
else
{
    <h1>Edytowano Formularz</h1>
    <h3>Gratulacje, dane z formularza zostały zedytowane w bazie danych</h3>
}
<style>

    .cities {
        color: white;
        margin: 20px;
        padding: 20px;
    }
</style>
<div class="cities">
    @foreach (var key in Model)
    {
        <label asp-for="@key.Field.Name" style="font-weight:bold; font-size:large">@key.Field.Name</label>
        @if (key.Field.Type == "checkbox")
        {
            <p>@key.BoolValue.ToString()</p>
        }
        else
        {
            <p>@key.TextValue</p>
        }
        <br />
    }
</div>



