@model IEnumerable<FormGenerator.Models.Patient>
@{
    ViewData["Title"] = "View";
}


<br/>
<form id="formA" class="custom_patient_search" action="Patient/Index" method="post" >
    <label class="custom-label">Numer pacjenta:</label>
    <input name="Id" id="searchPatientv2" class="custom-input"/>
    <input type="submit" id="buttonSearch" class="button_search" placeholder="Szukaj..." />
    
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#formA').submit(function () {
        sessionStorage.setItem('key', document.getElementById("searchPatientv2").value);


    });
    $(document).ready(function() {
    var success = @((TempData["SuccessMessage"] != null).ToString().ToLower());

        if (success == true) {
        console.log("success")
        $().alert()
    }
});
   
</script>


