@model FormGenerator.Models.EntranceConnections

@{
    ViewData["Title"] = "DeleteDependence";
}




<style>
    a {
        color: forestgreen;
        font-weight: 500;
    }
</style>
<div><br /></div>
<form asp-action="DeleteDependence" class="shadow p-3 mb-5 bg-white rounded" style="height:50px;">
    <div class="form-group">
        <label>Czy na pewno usunąć zależność?</label>
    </div>
    <div>
        <input type="hidden" asp-for="Id" />
        <input class="btn-outline-dark" type="submit" value="Usuń" />
    </div>
</form>
