@model IEnumerable<FormGenerator.Models.Field>

@{
    ViewData["Title"] = "Index";
}


<div>
    <button class="btn btn-danger" style="margin-bottom:10px;"><a id="stworzNowyFormularz" style="text-decoration:none;" asp-action="Create">Dodaj nową zależność do formularza początkowego</a></button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Pytanie
            </th>
            <th>
                Typ Pytania
            </th>
            <th>
                ...
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <button type="button" class="btn btn-info"><a style="text-decoration:none;color:white;"asp-action="AddConnection" asp-route-id="@item.Id">Edycja</a></button>
                    <button type="button" class="btn btn-info"><a style="text-decoration:none;color:white;" asp-action="Delete" asp-route-id="@item.Id">Usuń</a></button>
                  
                  
                </td>
            </tr>
        }
    </tbody>
</table>
