@model IEnumerable<FormGenerator.Models.Field>

@{
    ViewData["Title"] = "Index";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        box-shadow: black;
    }

    th {
        text-align: left;
        color: lightgray;
        padding: 8px;
        border-bottom: 2px solid grey;
        color: black;
    }

    td {
        text-align: left;
        padding: 8px;
        border-bottom: 2px solid grey;
    }

    tr {
        background-color: whitesmoke;
    }



    a {
        color: forestgreen;
        font-weight: 500;
    }

    .table tbody tr:hover {
        background-color: darkgray;
    }

    td {
        color: black;
    }
</style>

<div><br /></div>
<a style="color:black;" id="stworzNowyFormularz" asp-action="Create">
    <img src="~/add.png" class="rounded-circle" alt="Add" width="30" height="30">
</a>
<th>Dodaj nową zależność do formularza początkowego</th>
<div>
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Pytanie
            </th>
            <th>
                Typ Pytania
            </th>
            <th>
                ...
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="AddConnection" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
