@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormGenerator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <style>
        body {
            overflow-x: hidden;
            
        }
        ul {
            list-style-type: none;
            margin-right:35px;
        }
        #grid-con {
            display: grid;
        }
     
        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -12rem;
            -webkit-transition: margin .25s ease-out;
            -moz-transition: margin .25s ease-out;
            -o-transition: margin .25s ease-out;
            transition: margin .25s ease-out;
            box-shadow: 3px 3px 6px black;
            background-color: #dfdfdf;
        }

            #sidebar-wrapper .sidebar-heading {
                margin-top: 1rem;
                text-align: center;
                font-size: 1.4rem;
                font-family: "Impact, Charcoal, sans-serif";
                text-shadow: 3px 3px 6px grey;
            }

            #sidebar-wrapper .list-group {
                width: 15rem;
            }

        #page-content-wrapper {
            min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }


        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }

        .select-test {
            background-color: #dfdfdf;
            font-size: 1.2rem;
            margin-left: -1rem;
            text-shadow: 3px 3px 6px grey;
            opacity: 0.7;
        }

        .select-test:hover {
            font-size: 1.25rem;
            opacity: 1;
        }

        .navbar-nav li:hover > .dropdown-menu {
            display: block;
        }
    </style>

    <header>
       

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a style="color:black" asp-area="" asp-controller="Forms" asp-action="Index">
                    <img src="~/logo.png" alt="Add" width="150" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="Patient" asp-action="Index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="UserAnswerLists" asp-action="AnswerList">Wizualizator</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Forms" asp-action="ListaFormularzy">Formularze</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ExcelExport" asp-action="Index">Eksporter Excel </a>
                            </div>
                        </li>
                    </ul>

                </div>
                <div> <partial name="_LoginPartial" /></div>
               
            </nav>
    </header>



    <div class="d-flex" id="wrapper" style="margin-left: 190px">
        <div class="bg-#8bbabb border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                Formularze pacjenta
                <p class="patient_id"></p>
            </div>
            <hr />
            <div class="list-group list-group-flush container">
                <div class="side-table">
                    @*<thead>*@
                    <div id="searchPatient"> </div>
                    @*</thead>*@
                    <div >
                        <ul id="container">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">


            @if (TempData["Error"] != null)
            {
                <p style="color:red">@TempData["Error"]</p>
            }
            <div class="container-fluid">
                <div>
                    <main role="main" class="pb-3 site">
                     
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  
    @RenderSection("Scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function () {
            let val = sessionStorage.getItem("key");
            if (val != null) {
                let area = document.getElementById("searchPatient");
                area.value = sessionStorage.getItem("key")
                console.log(area.value)
                $.ajax({
                    url: '/Patient/PatientForms/' + area.value,
                    type: 'Get',
                    dataType: 'json',
                    data: { order: 'Call' },
                    success: function (data) {
                        console.log(data);
                        createTable(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }

                });
            }
        });

        $("#buttonSearch").click(function () {
            console.log(sessionStorage.getItem("key"))
            let area = document.getElementById("searchPatient");
            sessionStorage.setItem('key', area.value);

            $.ajax({
                url: '/Patient/PatientForms/' + area.value,
                type: 'Get',
                dataType: 'json',
                data: { order: 'Call' },
                success: function (data) {
                    console.log(data);
                    createTable(data);
                },
                error: function (data) {
                    console.log(data);
                }

            });
        })

        //function patientIdSearch() {
        //    let id = sessionStorage.getItem('key');
        //    let patient = document.getElementById('patient_id');
            
        //}

        function createTable(data) {
            let container = $("#container")[0];
           
            for (let i = 0; i < data.length; i++) {
               
                    let ul = document.createElement("ul");
                    let li = document.createElement('li');

                    var form = $(" <a>").attr("class", "select-test").attr("id", data[i].idForm).text(data[i].nazwa_formularza).css("width", "100%");
                    if (data[i].isSendBefore) {

                        $(form).css("text-decoration", "line-through");
                    }


                    form.click(function () {

                        if (data[i].isSendBefore) {

                            window.location.href = '/Forms/EdycjaWypelnionegoFormularza/' + data[i].idForm;
                        }
                        else {
                            window.location.href = '/Forms/Formularz/' + data[i].idForm;
                        }
                           
                    
                        

                        return false;
                    });

                    form.appendTo(li);
                    container.appendChild(li);
           

            }


        }

    </script>
</body>
</html>
