@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager


<body>



    <ul class="navbar-nav mr-auto">
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-controller="Patient" asp-action="Index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu Pacjenta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Patient" asp-action="Index" title="CompleteSurvey">Pacjent</a>
                    <a class="dropdown-item" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="EntranceFormFields" asp-action="Index" title="CompleteSurvey">Formularz powitalny </a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mój profil</a>
            </li>
            <li class="nav-item">
                @*<form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a class="nav-link text-light">Wyloguj się</a>
        </form>*@
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Logout" >Wyloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="AdminPanel" asp-action="Index">Panel</a>
            </li>
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Technik")))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-controller="Patient" asp-action="Index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu Pacjenta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Patient" asp-action="Index" title="CompleteSurvey">Pacjent</a>
                    <a class="dropdown-item" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="EntranceFormFields" asp-action="Index" title="CompleteSurvey">Formularz powitalny </a>

                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mój profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Logout">Wyloguj się</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
            </li>
        }
    </ul>

</body>

