@model FormGenerator.Models.Field

@{
    ViewData["Title"] = "DeleteNewField";
}
<script>
    sessionStorage.removeItem('key');
</script>
<br />
<span>
    <h3>Usuwanie</h3>
</span>
<br />

@if (ViewBag.message == true)
{
    <h3>
        Pomyślnie usunięto
    </h3>
    <hr />

}
else
{

    <div><br /></div>
    <form asp-action="Delete" class="shadow p-3 mb-5 bg-white rounded" style="height:50px;">
        <div class="form-group">
            <label>Czy na pewno usunąć wybrane pole?</label>
        </div>
        <div>
            <input type="hidden" asp-for="Id" />
            <input class="btn-outline-dark" type="submit" value="Usuń" />
        </div>
    </form>


}
<div>
    <a style="color:black;  " asp-action="EdycjaFormularza" asp-controller="Forms" asp-route-id="@ViewBag.IDFORM">Powrót do formualarza</a>

</div>






