@model FormGenerator.Models.Field

@{
    ViewData["Title"] = "DetailsNewField";
}
<script>
    sessionStorage.removeItem('key');
</script>
<style>


    .tabl {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }
</style>
<div><br /></div>
<span>
    <h3>Szczegóły pola</h3>
</span>
<div>
    <a style="color:black" asp-area="" asp-controller="Forms" asp-action="EdycjaFormularza" asp-route-id="@ViewBag.IDFORM">
        <img src="~/arrow2.png" class="rounded-circle" alt="Add" width="30" height="30">
    </a>
    <br />
</div>
<div class="tabl" style="box-shadow:black" ">

    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Typ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>

