@page
@model TeamProject.Areas.Identity.Pages.Account.CreateUserModel
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/AdminPanel/SidePanel.cshtml";
}
@if (ViewData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sukces!</strong> Użytkownik stworzony poprawnie.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row form-center">
    <div class="col-md-5 form-design">
        <i class="fas fa-user-plus fa-3x"></i>
        <h2 class="custom-header">Stwórz nowe konto</h2>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form__group">
                <input asp-for="Input.Email"
                       class="input-custom"
                       id="email"
                       placeholder="Email" />
                <label class="form__label" for="email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.Password"
                       class="input-custom"
                       id="haslo"
                       placeholder="Hasło" />
                <label class="form__label" for="haslo">Hasło</label>
                <span asp-validation-for="Input.Password"
                      class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.ConfirmPassword"
                       class="input-custom"
                       id="repeat"
                       placeholder="Powtórz hasło" />
                <label class="form__label" for="repeat">Powtórz hasło</label>
                <span asp-validation-for="Input.ConfirmPassword"
                      class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.FirstName"
                       class="input-custom"
                       id="imie"
                       placeholder="Imie" />
                <label class="form__label" for="imie">Imie</label>
                <span asp-validation-for="Input.FirstName"
                      class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.LastName"
                       class="input-custom"
                       id="nazwisko"
                       placeholder="Nazwisko" />
                <label class="form__label" for="nazwisko">Nazwisko</label>
                <span asp-validation-for="Input.LastName"
                      class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Input.CustomID"
                       class="input-custom"
                       id="idtech"
                       placeholder="Id Technika" />
                <label class="form__label" for="idtech">Id Technika</label>
                <span asp-validation-for="Input.CustomID"
                      class="text-danger"></span>
            </div>
            <button type="submit" class="custom-button">
                Stwórz
                <i class="fas fa-plus"></i>
            </button>
        </form>
    </div>
</div>